$blue:#654fef;
$danger:#ca0467;
$teal:#4fefc7;
$secondary:#00545a;
$green:#037012;
$red:#700303;
$primary:#6d28d9;

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: #eee;
}

.header{
    width: 100%;
    height: 50px;
    background-color: rgb(226, 224, 255);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    &.scroll{
        box-shadow: 0 0 16px rgb(167, 167, 167);
        z-index: 1024;
    }
    .navbar{
        max-width: 970px;
        width: 100%;
        color: $primary;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 20px;
        .logo_name{
            color: rgb(0, 0, 0);
            cursor: pointer;
        }
        i{
            font-size: 1.25rem;
            cursor: pointer;
            &:hover{
                opacity: .5;
            }
        }
        .cart{
            position: relative;
            cursor: pointer;
            .card-bad{
                width: 16px;
                height: 16px;
                background-color: red;
                color: white;
                position: absolute;
                border-radius: 50%;
                font-size: .7rem;
                top: -8px;
                right: -8px;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: stretch;
            }
        }
    }
}

.products{
    display: flex;
    flex-direction: column;
    align-items: center;
    .sec_title{
        margin: 4.5rem 0 2rem;
    }
}
.products_center{
    width: 100%;
    max-width: 970px;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(260px , 1fr));
    gap: 3rem;
    margin: 0 0 3rem;
    section{
        border-radius: 8px;
        overflow: hidden;
        background-color: rgb(255, 255, 255);
    }
    img{
        width: 100%;
        min-width: 120px;
    }
    .desc{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: .9rem;
        margin: 10px 20px;
    }
    .btn_container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 25px;
        .btn{
            background-color: #ede1ff;
            color: $primary;
            border: none;
            padding: 7px 20px;
            border-radius: 5px;
        }
    }
}
.trash{
    position: absolute;
    right: 200px;
    color: red;
    opacity: 0;
}