* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #eee;
}

.header {
  width: 100%;
  height: 50px;
  background-color: #e2e0ff;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .5s;
  transition: .5s;
}

.header.scroll {
  -webkit-box-shadow: 0 0 16px #a7a7a7;
          box-shadow: 0 0 16px #a7a7a7;
  z-index: 1024;
}

.header .navbar {
  max-width: 970px;
  width: 100%;
  color: #6d28d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 20px;
}

.header .navbar .logo_name {
  color: black;
  cursor: pointer;
}

.header .navbar i {
  font-size: 1.25rem;
  cursor: pointer;
}

.header .navbar i:hover {
  opacity: .5;
}

.header .navbar .cart {
  position: relative;
  cursor: pointer;
}

.header .navbar .cart .card-bad {
  width: 16px;
  height: 16px;
  background-color: red;
  color: white;
  position: absolute;
  border-radius: 50%;
  font-size: .7rem;
  top: -8px;
  right: -8px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products .sec_title {
  margin: 4.5rem 0 2rem;
}

.products_center {
  width: 100%;
  max-width: 970px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(260px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 3rem;
  margin: 0 0 3rem;
}

.products_center section {
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
}

.products_center img {
  width: 100%;
  min-width: 120px;
}

.products_center .desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: .9rem;
  margin: 10px 20px;
}

.products_center .btn_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 25px;
}

.products_center .btn_container .btn {
  background-color: #ede1ff;
  color: #6d28d9;
  border: none;
  padding: 7px 20px;
  border-radius: 5px;
}

.trash {
  position: absolute;
  right: 200px;
  color: red;
  opacity: 0;
}
/*# sourceMappingURL=style.css.map */